* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
}

html {
    font-size: 62.5%;
}

a {
    text-decoration: none;
}

input {
    font-size: 20px;
    border: none;
    border-bottom: 1px solid #DFDFDF;
    border-radius: 4px;
    margin: 23px 0;
    background: transparent;

    &::placeholder {
        color: $black;
    }

    &:hover {
        background-color: #F8F9FA;
    }

    &:focus {
        outline: none;
        background-color: #E9ECEF;
    }

}



button {
    @include flex(center, row);
    font-family: 'Open Sans', sans-serif;
    border-radius: 8px;
    font-size: 20px;
    cursor: pointer;
}

.next {
    margin-left: 550px;
    padding: 13px 24px;
    background-color: $black;
    color: white;
    border: 4px solid white;
    border-radius: 8px;

    &:hover {
        border: 4px solid #C2A5F9;
    }

    img {
        padding-left: 15px;
    }
}

.back {
    padding: 12px 24px;
    border: 1px solid $black;
    background-color: transparent;

    &:hover {
        background-color: $grey;
    }
}

.left-bg {
    width: 923.52px;
    min-height: 996px;
}

.landing-bg {
    background: url("../images/Landing\ page-\ scrolling\ photo.png");
}

.personal-bg {
    background: url("../images/unsplash_27LH_0jXKYI.png");
}

.chess-bg {
    background: url("../images/unsplash_27LH_0jXKYI2.png");
}

.completed-bg {
    background: url("../images/unsplash_27LH_0jXKYI3.png");
}

::-webkit-scrollbar {
    width: 4px;
}

::-webkit-scrollbar-track {
    background: #E9ECEF;
}

::-webkit-scrollbar-thumb {
    background: #CBCFD2;
    border-radius: 4px;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
}