.main-container {
    min-height: 100vh;
    font-family: 'Nunito', sans-serif;
    // background: url("../Untitled.png");

    .space-left {
        float: left;
        width: 923px;

        .landing-header {
            @include flex(center, row);
            padding-left: 61px;
            min-height: 84px;
            background-color: $purple;

            padding-bottom: 3px;

            h1 {
                color: #212529;
                font-family: 'Nunito', sans-serif;
                padding-left: 6.5px;
                font-size: 2.5rem;
                font-weight: 1000;
                color: white;
            }
        }

        .content-left {
            background: url("../img/Landing\ page-\ scrolling\ photo.png");
            background-size: cover;
            width: 923.52px;
            min-height: 996px;
        }


    }

    .space-right {

        .landing {
            min-height: 100vh;
            background-color: $red;
            display: none;

            h1 {
                color: white;
                font-size: 8rem;
                margin-left: 8.5rem;
            }

            .top-line {
                @include flex(center, row);
                margin-top: 26.5rem;
                margin-bottom: 1.6rem;

                #top-title-big {
                    font-weight: 800;
                }

                #top-title-small {
                    color: $black;
                    font-size: 2rem;
                    margin-left: 2.6rem
                }
            }

            .botton-line {
                @include flex(left, column);

                #bottom-title-big {
                    font-weight: 900;
                }

                button {
                    width: 19.1rem;
                    height: 5.3rem;
                    padding-left: 2.4rem;
                    margin-left: 8.5rem;
                    margin-top: 10.2rem;
                    background-color: $black;
                    color: white;

                    &:hover {
                        border: 4px solid #C2A5F9;
                    }

                    img {
                        padding-left: 1.5rem;
                    }
                }
            }
        }
    }
}