.title-left {
    font-family: 'Nunito', sans-serif;
    font-style: italic;
    margin-left: 124px;
    margin-top: 245px;

    h1 {
        color: $black;
        font-weight: 800;
        font-size: 26px;
        padding: 6.6px;
    }

    h2 {
        color: $white;
        font-weight: 500;
        font-size: 24px;
        margin-left: 7.5px;
        margin-top: 15.5px;
    }
}

.personal-information {
    min-height: 100vh;
    font-family: 'Open Sans', sans-serif;
}

.header-personal {
    min-height: 84px;
    border-bottom: 1px solid $grey;

    h1 {
        margin-left: 28.5px;
        font-size: 16px;
        font-weight: 600;
        padding-top: 31px;
    }
}

.progress {
    margin-left: 48.5px;

    h1 {
        @include flex(center, row);
        justify-content: center;
        border: 1px solid $grey;
        border-radius: 8px;
        width: 40px;
        height: 40px;
    }

    h3 {
        font-weight: 400;
        font-size: 16px;
        margin-top: 5px;
    }

    .progress-up {
        margin-left: 59px;
        margin-top: 60px;
        @include flex(center, row);

        .square {
            @include flex(center, column);
        }

        .line {
            background-color: $grey;
            width: 174px;
            height: 1px;
            margin: 0 0.4rem;
        }
    }

    .progress-down {
        @include flex(center, row);

        h3 {
            margin-right: 78px;
        }
    }
}

.second-square-personal {
    h1 {
        color: #95939A;
        background-color: #F5F5F5;
    }
}

.first-square-chess {
    h1 {
        background-color: #E9FAF1;
    }
}

.errors {
    @include flex(left, column);
    position: absolute;
    width: 370px;
    height: 420px;
    top: 220px;
    right: 29px;
}

.error {
    display: none;
    width: 350px;
    margin: 5px auto;
    padding: 7.2px 12px;
    box-shadow: 0px 3px 10px 2px $grey;
    border-radius: 4px;
    z-index: 1;
    background-color: white;
}

.error-up {
    @include flex(center, row);
    border-bottom: 1px solid $grey;
    padding-bottom: 4px;
    position: relative;

    p {
        color: $dark-red;
        font-size: 14px;
        font-weight: 600;
        padding-left: 8px;
    }

    .x {
        position: absolute;
        top: 8px;
        right: 1px;
        cursor: pointer;
    }
}

.error-down {
    p {
        font-size: 16px;
        font-weight: 400;
        padding: 10px 0;
    }
}

.error-input {
    display: block !important;
    color: $dark-red;
    background-color: $light-red;
}

.success-input {
    background: url("../img/Checkmark.svg");
    background-repeat: no-repeat;
    background-position-x: 735px;
    background-position-y: 8px;
}

.personal-title {
    margin-left: 48.5px;
    margin-top: 115px;

    h1 {
        font-size: 32px;
        font-weight: 600;
    }

    h4 {
        margin-top: 7px;
        font-size: 14px;
        color: #95939A;
        font-weight: 500;
    }
}

p::after {
    content: attr(data-end);
    color: red;
    font-size: 20px
}

.personal-inputs {
    @include flex(left, column);
    margin-left: 49px;
    margin-top: 68px;

    .input-placeholder {
        position: relative;
    }

    .input-placeholder input {
        width: 775px;
        padding: 8px 16px;
    }

    .date-placeholder input {
        padding: 5px 16px;
    }

    .input-placeholder input:valid+.placeholder {
        display: none;
    }

    .placeholder {
        position: absolute;
        pointer-events: none;
        font-size: 20px;
        top: 28px;
        left: 16px;
        bottom: 2px;
        margin: auto;
        color: black;
    }

    .placeholder span {
        color: red;
        font-size: 1.6rem;
    }

}

.navigation-buttons {
    @include flex(center, row);
    margin-left: 48px;
    margin-top: 63px;
}

.date-input::-webkit-calendar-picker-indicator {
    position: absolute;
    left: 0;
    top: 22px;
    width: 772px;
    height: 45px;
    margin: 0;
    padding: 0;
    cursor: pointer;
}