$purple: #7025FB;
$red: #FD5334;
$black: #212529;
$grey: rgba(185, 180, 195, 0.3);
$white: #E5E6E8;

@mixin flex($align, $direction) {
    display: flex;
    align-items: $align;
    flex-direction: $direction;
}

@import "global";
@import "landing";
@import "personal-info";
@import "chess-experience";
@import "selection";




// font-family: 'Nunito', sans-serif;
// font-family: 'Open Sans', sans-serif;