* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow: hidden;
}

html {
  font-size: 62.5%;
}

a {
  text-decoration: none;
}

input {
  padding: 8px 16px;
  font-size: 20px;
  border: none;
  border-bottom: 1px solid #DFDFDF;
  border-radius: 4px;
  margin: 23px 0;
  background: transparent;
}

input::-webkit-input-placeholder {
  color: #212529;
}

input:-ms-input-placeholder {
  color: #212529;
}

input::-ms-input-placeholder {
  color: #212529;
}

input::placeholder {
  color: #212529;
}

input:hover {
  background-color: #F8F9FA;
}

input:focus {
  outline: none;
  background-color: #E9ECEF;
}

button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  font-family: 'Open Sans', sans-serif;
  border-radius: 8px;
  font-size: 20px;
  cursor: pointer;
}

.next {
  margin-left: 550px;
  padding: 13px 24px;
  background-color: #212529;
  color: white;
  border: 4px solid white;
  border-radius: 8px;
}

.next:hover {
  border: 4px solid #C2A5F9;
}

.next img {
  padding-left: 15px;
}

.back {
  padding: 12px 24px;
  border: 1px solid #212529;
  background-color: transparent;
}

.back:hover {
  background-color: rgba(185, 180, 195, 0.3);
}

.left-bg {
  width: 923.52px;
  min-height: 996px;
}

.landing-bg {
  background: url("../img/Landing page- scrolling photo.png");
}

.personal-bg {
  background: url("../img/unsplash_27LH_0jXKYI.png");
}

.chess-bg {
  background: url("../img/unsplash_27LH_0jXKYI2.png");
}

.completed-bg {
  background: url("../img/unsplash_27LH_0jXKYI3.png");
}

.main-container {
  min-height: 100vh;
  font-family: 'Nunito', sans-serif;
}

.main-container .space-left {
  float: left;
  width: 923px;
}

.main-container .space-left .landing-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding-left: 61px;
  min-height: 84px;
  background-color: #7025FB;
  padding-bottom: 3px;
}

.main-container .space-left .landing-header h1 {
  color: #212529;
  font-family: 'Nunito', sans-serif;
  padding-left: 6.5px;
  font-size: 25px;
  font-weight: 1000;
  color: white;
}

.main-container .landing .space-right {
  min-height: 100vh;
  background-color: #FD5334;
}

.main-container .landing .space-right h1 {
  color: white;
  font-size: 80px;
  margin-left: 85px;
}

.main-container .landing .space-right .top-line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-top: 265px;
  margin-bottom: 16px;
}

.main-container .landing .space-right .top-line #top-title-big {
  font-weight: 800;
}

.main-container .landing .space-right .top-line #top-title-small {
  color: #212529;
  font-size: 20px;
  margin-left: 26px;
}

.main-container .landing .space-right .botton-line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: left;
      -ms-flex-align: left;
          align-items: left;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main-container .landing .space-right .botton-line #bottom-title-big {
  font-weight: 900;
}

.main-container .landing .space-right .botton-line button {
  width: 202px;
  margin-left: 81px;
  margin-top: 102px;
  background-color: #212529;
  border: 4px solid #FD5334;
  color: white;
}

.main-container .landing .space-right .botton-line button:hover {
  border: 4px solid #C2A5F9;
}

.main-container .landing .space-right .botton-line button img {
  padding-left: 15px;
}

.title-left {
  font-family: 'Nunito', sans-serif;
  font-style: italic;
  margin-left: 124px;
  margin-top: 245px;
}

.title-left h1 {
  color: #212529;
  font-weight: 800;
  font-size: 26px;
  padding: 6.6px;
}

.title-left h2 {
  color: #E5E6E8;
  font-weight: 500;
  font-size: 24px;
  margin-left: 7.5px;
  margin-top: 15.5px;
}

.personal-information {
  min-height: 100vh;
  font-family: 'Open Sans', sans-serif;
}

.header-personal {
  min-height: 84px;
  border-bottom: 1px solid rgba(185, 180, 195, 0.3);
}

.header-personal h1 {
  margin-left: 28.5px;
  font-size: 16px;
  font-weight: 600;
  padding-top: 31px;
}

.progress {
  margin-left: 48.5px;
}

.progress h1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 1px solid rgba(185, 180, 195, 0.3);
  border-radius: 8px;
  width: 40px;
  height: 40px;
}

.progress h3 {
  font-weight: 400;
  font-size: 16px;
  margin-top: 5px;
}

.progress .progress-up {
  margin-left: 59px;
  margin-top: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.progress .progress-up .square {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.progress .progress-up .line {
  background-color: rgba(185, 180, 195, 0.3);
  width: 174px;
  height: 1px;
  margin: 0 0.4rem;
}

.progress .progress-down {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.progress .progress-down h3 {
  margin-right: 78px;
}

.personal-title {
  margin-left: 48.5px;
  margin-top: 115px;
}

.personal-title h1 {
  font-size: 32px;
  font-weight: 600;
}

.personal-title h4 {
  margin-top: 7px;
  font-size: 14px;
  color: #95939A;
  font-weight: 500;
}

p::after {
  content: attr(data-end);
  color: red;
  font-size: 20px;
}

.personal-inputs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: left;
      -ms-flex-align: left;
          align-items: left;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 49px;
  margin-top: 68px;
}

.personal-inputs .input-placeholder {
  position: relative;
}

.personal-inputs .input-placeholder input {
  width: 775px;
}

.personal-inputs .input-placeholder input:valid + .placeholder {
  display: none;
}

.personal-inputs .placeholder {
  position: absolute;
  pointer-events: none;
  font-size: 20px;
  top: 28px;
  left: 16px;
  bottom: 2px;
  margin: auto;
  color: black;
}

.personal-inputs .placeholder span {
  color: red;
  font-size: 1.6rem;
}

.navigation-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-left: 48px;
  margin-top: 63px;
}

.chess-experience {
  min-height: 100vh;
  font-family: 'Open Sans', sans-serif;
}

.title-left-chess {
  font-family: 'Nunito', sans-serif;
  font-style: italic;
  margin-left: 110px;
  margin-top: 190px;
}

.title-left-chess h1 {
  color: #212529;
  font-weight: 800;
  font-size: 26px;
  padding: 6.6px;
}

.title-left-chess h2 {
  color: #093F68;
  font-weight: 500;
  font-size: 24px;
  margin-left: 355px;
  margin-top: 25px;
}

.level-of-knowledge {
  width: 312px;
  display: none;
}

.chess-selectors {
  position: relative;
  min-height: 300px;
  margin-left: 38.8px;
  margin-top: 98px;
}

.participated-radio {
  margin-top: 133.5px;
  margin-left: 15px;
}

.participated-radio h1 {
  font-weight: 400;
}

.participated-radio .participated-radio-options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding-bottom: 87px;
}

.participated-radio .participated-radio-options label {
  font-size: 16px;
  padding-right: 18px;
  margin-left: 9.2px;
}

.participated-radio .participated-radio-options .star {
  margin-left: 6px;
}

.participated-radio .participated-radio-options input[type=radio] {
  margin-left: 2px;
  width: 20px;
  height: 20px;
}

.onboard-completed {
  background: url("../Untitled5.png");
}

.onboard-completed .space-right img {
  margin-top: 416px;
  margin-left: 279px;
}

.select-box {
  width: 392px;
  overflow: visible;
  position: absolute;
  display: block;
  font-size: 20px;
  color: #212529;
  border-bottom: 1px solid rgba(185, 180, 195, 0.3);
  border-radius: 8px;
  background-color: transparent;
}

.second-box {
  margin-left: 415px;
}

.current {
  position: relative;
  cursor: pointer;
  outline: none;
}

.current:focus + .box-list {
  opacity: 1;
  -webkit-animation-name: none;
          animation-name: none;
}

.current:focus + .box-list .box-option {
  cursor: pointer;
}

.current:focus .box-icon {
  -webkit-transform: translateY(-50%) rotate(180deg);
          transform: translateY(-50%) rotate(180deg);
}

.box-icon {
  position: absolute;
  top: 50%;
  right: 19.5px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}

.box-value {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.box-input {
  display: none;
  color: black;
}

.box-input:checked + .box-input-text {
  display: block;
}

.box-input-text {
  display: none;
  width: 100%;
  margin: 0;
  padding: 8px 16px;
}

.box-list {
  margin-left: 11px;
  position: absolute;
  margin-top: 10px;
  width: 100%;
  padding: 20px 0px;
  list-style: none;
  opacity: 0;
  -webkit-animation-name: HideList;
          animation-name: HideList;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-timing-function: step-start;
          animation-timing-function: step-start;
  -webkit-box-shadow: 0px 0px 10px rgba(185, 180, 195, 0.3);
          box-shadow: 0px 0px 10px rgba(185, 180, 195, 0.3);
  border-radius: 4px;
  background-color: white;
}

.box-option {
  font-size: 20px;
  width: 100%;
  display: block;
  padding: 8px 20px;
}

.box-option:hover,
.box-option:focus {
  font-weight: 600;
  background-color: rgba(185, 180, 195, 0.3);
}

.star {
  color: red;
  font-size: 16px;
  margin-left: 2px;
}

@-webkit-keyframes HideList {
  from {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }
  to {
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
  }
}

@keyframes HideList {
  from {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }
  to {
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
  }
}
/*# sourceMappingURL=style.css.map */